
body {
    background-color: #f2f2f2;
  }

  .homediv{
    width:1050px;
    height:750px;
    background:rgba(145, 198, 211, 0.9);
    
    margin-top:40px;
    margin-left:310px;
    border-radius:40px;

  }
  .firsth1{
    align-items:center;
    font-size:30px;
    font-weight:bold;
    padding:30px;

    
  }
  .navbar-brand{
    margin-left:1350px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }